@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "android" ;
    src: url(../idroid.otf);
}
:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive;
}

* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: wheat;
    font-family: var(--fonte-destaque);
    margin: 0px;
}
img.pequeno{
    display: block;
    margin: auto;
    max-width: 350px;
}

img{
    width: 100%;
}




header{
    color: white;
    background-image: linear-gradient(var(--cor3) , var(--cor5));
    min-height: 150px;
    text-align: center;
}
header > h1 {
    font-size: 3em;
    font-weight: normal;
    padding: 40px 0px 30px ;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
}
nav {
    background-color: var(--cor5);
    margin: auto;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.199);
    padding: 10px;
}
nav > a {
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: .5s;

}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
.externo:hover{
    text-decoration: underline;

}
.centro{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding: 0px 10px;
    margin: auto;
}

/* -------------------------------------------------- */
main {
    background-color: white;
    font-family: var(--fonte-padrao);
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    height: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.39);;
    border-radius: 0px 0px 5px 5px;
}
section > h2 {
    margin: 0px;
    padding: 20px 0px 0px 15px;
    font-weight: normal;
}
section > h3{
    background-image: linear-gradient( 90deg, var(--cor1), white);
    padding: 0px 0px 0px 5px;
    margin: 0px 15px;
}
section > h2, h3 {
    font-family: var(--fonte-android);
    font-weight: 100;
}
.paragrafos > p {
    padding: 10px 15px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}
p > a{
    background-color: var(--cor1);
    color: var(--cor4);
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    
}
a.externo::after{
    content: '\00A0\1F517';
}
main strong {
    color: var(--cor4);
    font-weight: bold;
}

.lista {
    font-weight: lighter;
    text-indent: 0px;
}


div {
   background-color: var(--cor4);
    padding-bottom: 58%;
    position: relative;
}

div > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
/* -------------------------------------------------------- */

aside{
background-color:var(--cor1);
height: auto;
margin:10px;
border-radius: 10px;
box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.144);
}
aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    padding: 10px;
}
#ultimotexto {
    text-align: center;
}
h4 {
    background-color: var(--cor4);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}


/* ------------------------------------------------------------- */
footer > p {
    background-color: var(--cor5);
    color: white;
    font-family: var(--fonte-padrao);
    text-align: center;
    margin: 0px;

}
footer strong {
    color: var(--cor2);
}
