@charset "UTF-8";

body {
    background-color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: green;
}
h2 {
    color: white;
}
h4{
    color: darkslategrey;
}
p {
    color:lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}