@charset "UTF-8";

body {
    background-color: rgb(138, 121, 212);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(35, 64, 230);
}
/* OBS: pode ser somente #nome do id, ele pega todas as tag com esse id */
h1#principal { /* pega somente as tags h1 com esse id */
  text-align: center;  
  color: white;
  background-color: rgb(82, 49, 228);
}
/* OBS:
em HTML id = em CSS é "#" identificar um elemento único
em HTML class = em CSS é "." agrupar elementos múltiplos
*/

h2 {
    color: rgb(122, 171, 228);
}

.basico {
    color: rgb(76, 201, 76);
}

.intermediario{
    color: rgb(197, 197, 80);
}

.avancado{
    color: rgb(184, 68, 68);
}

.destaque{
    background-color: rgba(172, 172, 75, 0.521);
}
/* OBS: Pode ter mais de uma classe em uma tag ou um id e uma class */