@charset "UTF-8";
@font-face {
    font-family: 'cordel';
    src: url(fonts/Passion_One/PassionOne-Bold.ttf);
}
@font-face {
    font-family: 'cordel1';
    src: url(fonts/Sriracha/Sriracha-Regular.ttf);
}
:root{
    --font-titulo: 'cordel', arial;
    --font-cordel: 'cordel1', arial;
}

*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

body a:hover{
    text-decoration: underline;
}

.cabeca{
    color: white;
    background-color: black;
    height: 350px;
}

.cabeca h1{
    font-size: 150px;
    text-align: center;
    padding-top: 100px;
    font-family: var(--font-titulo);
}

.cabeca a{
    color: white;
    font-weight: bold;
    
    
}
.cabeca p {
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}

.paragrafos p{
    font-family: var(--font-cordel);
    font-size: 50px;
    width: 600px;
    padding: 85px 40px;
    line-height: 100px;
}

#image1{
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
}

.paragrafos div p{
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
    margin: 75px 40px;
    padding: 10px 5px;
    text-shadow: 2px 1px 0px black;
}

.paragrafos div{
    box-shadow: inset 0px 8px 20px 0px rgba(0, 0, 0, 0.473);
}


#image2{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
}

footer h3{
    color: white;
    background-color: black;
    text-align: center;
    height: 40px;
    padding-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: lighter;
}
footer a{
    color: white;
    font-weight: bold;
    
}
